.button-base {
    display: grid;
    grid-gap: 1rem;
    &:active {
        box-shadow: none;
        border-color: var(--link-blue);
    }
}



.primary-button {

    @extend .button-base;
    border-radius: var(--f3);
    padding:  var(--f0) var(--f3);
    color: var(--linkcolor);
    border:  1px solid transparent;
    background: transparent;
    width: fit-content;
    &:hover {
        background: var(--outlinecolor);
    }
    &:active, &.active {
        background: var(--hlcolor);
        
    }

}

.secondary-button {
    @extend .button-base;
    grid-gap: var(--f0) ;
    border-radius: 50%;
    background: var(--white);
    color: var(--linkcolor);
    border:  1px solid var(--outlinecolor);
    &:hover {
        background: var(--outlinecolor);
    }
    &:active, &.active {
        background: var(--off-white);
    }
}

.secondary-button-solid {
    @extend .button-base;
    grid-gap: var(--f0);
    border-radius: 50%;
    background: var(--white);
    color: var(--linkcolor);
    &:hover {
        background: var(--outlinecolor);
    }
    &:active, &.active {
        background: var(--off-white);
    }

}


a {
    .pure-button {
        text-decoration: none;

    }
}