
/*Color Styles*/
.primarytextcolor {
	color: var(--primarytextcolor) ;
}
.secondarytextcolor {
	color: var(--secondarytextcolor) ;
}
.altheadingcolor, .altheadingcolor *{
	color: var(--altheadingcolor) ;
}
.red {
	color: var(--red);
}
.crimson {
	color: var(--crimson);
}
.orange {
	color: var(--orange);
}
.yellow {
	color: var(--yellow);
}
.green {
	color: var(--green);
}
.blue {
	color: var(--blue);
}
.theme {
	color: var(--theme);
}

