
/*Color Styles*/
.primarytextcolor {
	color: var(--primarytextcolor) ;
}
.secondarytextcolor {
	color: var(--secondarytextcolor) ;
}
.altheadingcolor, .altheadingcolor *{
	color: var(--altheadingcolor) ;
}
.red {
	color: var(--red);
}
.crimson {
	color: var(--crimson);
}
.orange {
	color: var(--orange);
}
.yellow {
	color: var(--yellow);
}
.green {
	color: var(--green);
}
.blue {
	color: var(--blue);
}
.theme {
	color: var(--theme);
}

//new color
//important heading color

//standard text color
.primarytextcolor {
	color: var(--textcolor);
}
//lighter blue color text
.secondarytextcolor {
	color: var(--secondarytextcolor);
}
//light grey
.tertiarytextcolor {
	color: var(--tertiarytextcolor);
}

.white {
	color: var(--white);
}
.linkcolor {
	color: var(--linkcolor);
}
