.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

// workaround for ios and safari

// vertical gap
@for $i from 0 through 8 {
    .gap-v__#{$i} > *{
        margin-bottom: var(--f#{$i});
        &:only-child, &:last-child {
            margin-bottom: 0; 
        }
    }
  }

// horizontal gap
@for $i from 0 through 8 {
    .gap-v__#{$i} > *{
        margin-right: var(--f#{$i});
        &:only-child, &:last-child  {
            margin-bottom: 0; 
        }
    }
  }