.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

// workaround for ios and safari

// vertical gap
@for $i from 0 through 8 {
    .gapv--#{$i} > *{
        margin-bottom: var(--f#{$i});
    }
  }

// horizontal gap
@for $i from 0 through 8 {
    .gaph--#{$i} > *{
        margin-right: var(--f#{$i});
    }
  }