/* Course Info */
#courseInfo {
	height: calc(100vh - 90px);
	overflow-y: hidden !important;
}
#courseInfo table {
	color: var(--primarytextcolor);
	text-align: center;
}
#courseInfo table * {
	border: none;
}
#courseInfo table thead th {
	border-right: 3px solid var(--shadingcolor);
	background-color: var(--labelcolor);
	padding: 0.25rem 1rem;
	color: inherit;
	font-weight: inherit;
	white-space: nowrap;
}
#courseInfo table thead th:first-child {
	border-radius: .2rem 0 0 .2rem;
}
#courseInfo table thead th:last-child {
	border-right: none;
	border-radius: 0 .2rem .2rem 0;
}
#courseInfo table td {
	padding: 2.5px 7.5px;
}

.prereq,
.prereq-container {
	background-color: var(--labelcolor);
	border-radius: 5px;
	margin: 5px;
	display: inline-block;
	transition: background-color 0s;
	cursor: pointer;
}
.prereq {
	padding: .25rem .75rem;
}
/*.prereq-container {
	padding: 5px;
	background-color: var(--contrastcolor);
}*/
.prereq-wrapper .prereq:first-child {
	margin-left: 0;
}
.prereq:hover {
	text-decoration: none;
	color: var(--primarytextcolor);
	background-color: var(--boundarycolor);
}
/*.dark-theme .prereq:hover {
	background-color: var(--contrastcolor);
}*/
.sharedAttr > .prereq:first-child{
	margin-left: 0;
}

/* Scroll Bars */
.col-page > div::-webkit-scrollbar {
	width: 0.75rem;
}
#courseInfo table::-webkit-scrollbar {
	height: 0.75rem;
}

.col-page > div::-webkit-scrollbar-thumb,
#courseInfo table::-webkit-scrollbar-thumb {
	background-color: var(--labelcolor);
	border-radius: 15px;
	transition: 0.2s;
}

.col-page > div::-webkit-scrollbar-thumb:hover,
#courseInfo table::-webkit-scrollbar-thumb:hover {
	background-color: var(--labelcolor);
	border-radius: 15px;
}

.infowrapper .contentfont, .infowrapper.contentfont {
	font-size: 0.9rem;
}
