/* Course Info */
#courseInfo {
	height: calc(96vh - 88px);
	overflow-y: scroll;
}
#courseInfo table {
	color: var(--main-text);
	text-align: center;
}
#courseInfo table * {
	border: none;
}
#courseInfo table thead th {
	color: #6c757d;
	background-color: var(--med-alpha);
	border: 1px solid var(--main-bg);
	padding: 0.5rem 1rem;
	font-weight: normal;
}
#courseInfo table td {
	padding: 2.5px 7.5px;
}

.prereq,
.prereq-container {
	background-color: var(--low-alpha);
	border-radius: 5px;
	margin: 5px;
	display: inline-block;
}
.prereq {
	padding: 7.5px 12.5px;
}
.prereq-container {
	padding: 5px;
}

/* Scroll Bars */
.col-page > div::-webkit-scrollbar {
	width: 0.75rem;
}
#courseInfo table::-webkit-scrollbar {
	height: 0.75rem;
}

.col-page > div::-webkit-scrollbar-thumb,
#courseInfo table::-webkit-scrollbar-thumb {
	background-color: var(--med-alpha);
	border-radius: 15px;
	transition: 0.2s;
}

.col-page > div::-webkit-scrollbar-thumb:hover,
#courseInfo table::-webkit-scrollbar-thumb:hover {
	background-color: var(--high-alpha);
	border-radius: 15px;
}
