#courseList {
	height: 60%;
	overflow-y: scroll;
}
#selectedCourses {
	height: 40%;
	overflow: scroll;
}

#courseList > div {
	cursor: pointer;
	transition: all 0.2s;
}
#courseList > div:hover {
	background-color: var(--med-alpha) !important;
}

.text-cutoff {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.selectedCourse:first-child {
	width: 90%;
	display: inline-block;
}

.saveIcon,
.deleteIcon {
	cursor: pointer;
	position: absolute;
	transform: translate(0, -50%);
	top: 50%;
	right: 0;
	width: 20px;
}
