#savedCourses {
	overflow-y: scroll;
}

#courseList a > div {
	cursor: pointer;
	transition: all 0.2s;
}
#courseList a > div:hover {
	background-color: var(--med-alpha);
}

#courseList a {
	color: var(--main-text);
	text-decoration: none;
}

#courseList .selected {
	background-color: var(--low-alpha) !important;
}

.text-cutoff {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.selectedCourse:first-child {
	width: 90%;
	display: inline-block;
}

.saveIcon,
.unsaveIcon,
.deleteIcon {
	cursor: pointer;
	transition: 0.2s;
}

#courseList .saveIcon,
#courseList .unsaveIcon,
#savedCourses .deleteIcon {
	position: absolute;
	transform: translate(0, -50%);
	top: 50%;
	right: 0;
	width: 20px;
}

#courseInfo .saveIcon,
#courseInfo .unsaveIcon {
	height: 35px;
	grid-area: icon;
	align-self: center;
}

.saveIcon:hover {
	filter: sepia(100%) hue-rotate(110deg) saturate(20);
}
.unsaveIcon:hover {
	filter: invert(50%) sepia(100%) hue-rotate(-20deg) saturate(30);
}
