.dropdownFilter {
  margin: 0px 5px;
  padding: 0px 15px;
  border: 1px solid var(--boundarycolor);
  border-radius: 15px;
  background-color: var(--bgcolor);
  color: var(--inputcolor);
  font-size: 1rem !important;
  outline: none !important;
  font-weight: 300 !important;
}

.dropdownContainer {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bgcolor);
  -webkit-box-shadow: 2px 2px 20px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 2px 2px 20px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 2px 2px 20px 0px rgba(50, 50, 50, 0.3);
}

.shownFilter, .dropdownButton:hover, #highlight {
  color: var(--primarytextcolor) !important;
  background-color: var(--labelcolor);
}

/*.dropdownContainer,
.shadow {
	-webkit-box-shadow: 2px 2px 20px 0px var(--shadow);
	-moz-box-shadow: 2px 2px 20px 0px var(--shadow);
	box-shadow: 2px 2px 20px 0px var(--shadow);
}*/

.dropdownButton {
	transition: 0.1s;
}

/*.dropdownButton:focus {
	outline: none;
}*/

.tippy-box[data-theme~="transparent"] {
	background-color: transparent;
}
