#filter-container {
	display: flex;
	align-items: center;
}

.form-control,
.input-group-text {
	border-color: var(--input-border);
}

.input-group > .input-group-prepend {
	flex: 0 0 40%;
}
@media (min-width: 1200px) {
	.input-group > .input-group-prepend {
		flex: 0 0 30%;
	}
}
.input-group .input-group-text {
	width: 100%;
}

.input-group-prepend span {
	color: var(--main-text);
	background-color: var(--input);
}

.button-group {
	display: flex;
	flex: 1 0 auto;
	width: 1%;
}
.button-group button {
	display: inline-block;
	flex: 1 1 auto;
	width: 1%;
	color: var(--input-border);
	background-color: var(--input);
	margin-left: -1px;
	border: 1px solid var(--input-border);
	border-radius: 0;
	transition: 0.25s;
}
.button-group button.active {
	color: var(--input);
	background-color: var(--input-border);
}
.button-group > button:last-child {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.modal-content {
	background-color: var(--main-bg);
	color: var(--main-text);
}
.close,
.close:hover {
	color: var(--main-text);
}

#filterBar {
	display: grid;
	grid-template-columns: 3fr 9fr;
}

#filterBar input {
	background-color: var(--low-alpha);
	color: var(--main-text);
}
