#filter-container, #filterBar {
  display: flex;
  align-items: center;
}
#filterBar {
	margin-top: 1.25rem;
	margin-bottom: 0.5rem;
}

.form-control,
.input-group-text,
.custom-select {
	border-color: var(--inputcolor);
}

.form-control,
.custom-select {
	background-color: var(--labelcolor);
}

.custom-select {
	color: var(--primarytextcolor);
	transition: 0s;
}

.input-group > .input-group-prepend {
	flex: 0 0 40%;
}
@media (min-width: 1200px) {
	.input-group > .input-group-prepend {
		flex: 0 0 30%;
	}
}
.input-group .input-group-text {
	width: 100%;
}

.input-group-prepend span {
	color: var(--primarytextcolor);
	background-color: var(--labelcolor);
}
#filterBar .searchwrapper svg {
	position: absolute;
	left: .75rem;
	top: 50%;
	transform: translate(0, -50%);
	width: 15px;
	height: 15px;
	/*background: url("../img/iconset.svg#icon-search") center / contain no-repeat;*/
}
.searchwrapper {
	position: relative;
}

.button-group {
	display: flex;
	flex: 1 0 auto;
	width: 1%;
}
.button-group button {
	display: inline-block;
	flex: 1 1 auto;
	width: 1%;
	color: var(--inputcolor);
	background-color: var(--labelcolor);
	margin-left: -1px;
	border: 1px solid var(--inputcolor);
	border-radius: 0;
	transition: 0.25s;
}
.button-group button.active {
	color: var(--labelcolor);
	background-color: var(--inputcolor);
}
.button-group > button:last-child {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.modal-content {
	background-color: var(--bgcolor);
	color: var(--primarytextcolor);
}
.close,
.close:hover {
	color: var(--primarytextcolor);
}

#filterBar input {
	background-color: var(--bgcolor);
	color: var(--primarytextcolor);
	border-radius: 0.625rem;
	padding-left: 2.25rem;
}

#filterBar #filters .clear {
	margin-left: 10px;
}
