#grades-courseList > div,
#grades-selectedCourses > div > div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.grades-courseList-plus {
	font-size: 2rem;
	color: #69c961;
	cursor: pointer;
}

#grades-selectedCourses > div > div:first-child {
	width: 90%;
	display: inline-block;
}

.grades-selectedCourses-x {
	cursor: pointer;
	color: red;
	width: 10%;
	text-align: right;
	display: inline-block;
}
