body {
	--main-bg: #141414;
	--gt-gold: #eaaa00;
	--main-text: #dadada;
	--nav-link: #dadada;
	--border: #555;
	--input-border: #555;
	--input: #1d1d1d;
	--low-alpha: rgba(255, 255, 255, 0.05);
	--med-alpha: rgba(255, 255, 255, 0.1);
	--high-alpha: rgba(255, 255, 255, 0.2);
	--icon-light: invert(0);
	--icon-dark: invert(100%);
}

body.light-theme {
	--main-bg: white;
	--main-text: #353535;
	--nav-link: #444444;
	--border: #333;
	--input-border: #aaa;
	--input: #eee;
	--low-alpha: rgba(0, 0, 0, 0.1);
	--med-alpha: rgba(0, 0, 0, 0.2);
	--high-alpha: rgba(0, 0, 0, 0.3);
	--icon-light: invert(100%);
	--icon-dark: invert(0);
}

:focus {
	outline: none;
}

:root {
	--white: #FFFFFF;
	--offwhite: #F7F7F7;
	--black: #3B3B3B;
	--grey: #7C7C7C;
	--accentgrey: #EDEDED;
	--darkgrey: #E7E7E7; /*for ratings bar*/
	--lightgrey: #C6C6C6;
	--red: #FF5C5C;
	--pink: #FFA7A7;
	--orange: #F5A334;
	--yellow: #FFCE00;
	--green: #69C961;
	--blue: #1063FF;
	--theme: #EAAA00;
	--primaryfont: Raleway, Montserrat, SFNSText-Regular, Segoe UI, Luncida Grande, sans-serif;
	--secondaryfont: Karla, Lato, Lucinda Grande, Tahoma, sans-serif;

	/*light theme settings*/
	--bgcolor: var(--white);
	--themecolor: var(--theme);
	--navcolor: var(--offwhite);
	--primarytextcolor: var(--black);
	--secondarytextcolor: var(--grey);
	--labelcolor: var(--accentgrey);
	--inputcolor: var(--lightgrey);
}

.dark-theme {
	--bgcolor: var(--black);
	--themecolor: var(--theme);
	--navcolor: var(--white); /*placeholders for offwhite variations*/
	--primarytextcolor: var(--white);
	--secondarytextcolor: var(--white);
	--labelcolor: var(--white);
	--inputcolor: var(--white);
}

html {
	font-size: 16px;
	background-color: var(--bgcolor);
	color: var(--textcolor);
	scroll-behavior: smooth;
	-ms-text-size-adjust: 100%;
	-webkit-text-size=adjust: 100%;
}

body {
	font-family: var(--primaryfont);
	font-size: 1rem;
	/*line-height: 1.6rem;*/
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	font-kerning: auto;
	-webkit-font-kerning: auto;
}

/*font styling*/
.titlefont { /*course number*/
	font-family: var(--primaryfont);
	font-weight: 600;
	font-size: 2.5rem;
	color: var(--primarytextcolor);
}

.subtitlefont { /*course name*/
	font-family: var(--primaryfont);
	font-weight: 400;
	font-size: 1.6875rem;
	color: var(--themecolor);
}

.headingfont { /*search bar course number*/
	font-family: var(--primaryfont);
	font-weight: 500;
	font-size: 1.25rem;
	color: var(--primarytextcolor);
}

.subheadingfont { /*search bar course name*/
	font-family: var(--primaryfont);
	font-weight: 600;
	font-size: 1rem;
	color: var(--primarytextcolor);
}

.sectionlabelfont {
	font-family: var(--secondaryfont);
	font-weight: 400;
	font-size: 1.0625rem;
	color: var(--textcolor);
}

.contentfont {
	font-family: var(--secondaryfont);
	font-weight: 400;
	font-size: 1rem;
	color: var(--secondarytextcolor);
}

.navfont {
	font-family: var(--secondaryfont);
	font-weight: 400;
	font-size: 1.3125rem;
	color: var(--textcolor);
}

.navselectedfont{
	font-family: var(--secondaryfont);
	font-weight: 600;
	font-size: 1.3125rem;
	color: var(--theme);
}

/*https://www.ninjaunits.com/converters/pixels/pixels-rem/*/
.icon-small {
	width: 1rem;
	height: 1rem;
}

.icon-medium {
	width: 1.25rem;
	height: 1.25rem;
}

.icon-large {
	width: 2.2rem;
	height: 2.2rem;
}




body {
	background-color: var(--main-bg);
	color: var(--main-text);
}

.gt-gold {
	color: var(--gt-gold);
}

.icon-light {
	filter: var(--icon-light);
	height: 20px;
	width: 20px;
}
.icon-dark {
	filter: var(--icon-dark);
	height: 20px;
	width: 20px;
}
