:root {
	--main-bg: #141414;
	--gt-gold: #a99d6c;
	--main-text: #dadada;
	--nav-link: #dadada;
}

@media (prefers-color-scheme: light) {
	:root {
		--main-bg: white;
		--main-text: #353535;
		--nav-link: #444444;
	}
}

body {
	background-color: var(--main-bg);
	color: var(--main-text);
}
