
// using the 7-1 sass architecture
// read here: https://www.learnhowtoprogram.com/user-interfaces/building-layouts-preprocessors/7-1-sass-architecture
// im using the new @use feature btw
// this requires dart-sass ( npm i sass), not node-sass or libsass
// using pure css framework
// see docs: https://purecss.io/start/
@use 'vendors/purecss.2.0.5.min.css';

@use 'abstracts/cssvariables';
@use 'base';
@use 'layout';
@use 'pages';

* {
	outline: none ;
}

.preload * {
  -webkit-transition: none ;
  -moz-transition: none ;
  -ms-transition: none ;
  -o-transition: none ;
	transition: none ;
}



html {

	scroll-behavior: smooth;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

// we dont need this  <3 
// html * { /*laggy*/
// 	transition: background-color 0.3s ease, color 0.3s ease, invert 0.3s ease, border 0.3s ease, background 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
// }

body {

	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	font-kerning: auto;
	-webkit-font-kerning: auto;
}


