.nav {
	height: 100vh;
	color: var(--primarytextcolor);
	background-color: var(--labelcolor);
}

.nav .navbar-brand {
	color: var(--primarytextcolor);
	font-size: xx-large;
}

.nav .navbar-brand img {
	max-width: 40px;
}

.nav .nav-item:active {
	outline: none;
	box-shadow: none;
}

.nav .nav-item a.primarytextcolor {
	color: var(--primarytextcolor);
	transition: color 0.25s;
}

.nav .nav-item a.primarytextcolor:hover {
	color: #ffe084;
}

.nav .nav-item.active a.primarytextcolor {
	color: var(--theme);
}

.nav ul {
	list-style: none;
}
