.nav {
	height: 100vh;
  display: flex;
  justify-content: space-between;
}

.nav-title > h4{
  margin: 0;
}

.nav .navbar-brand img {
	max-width: 40px;
	padding-top: 1.5rem;
}

.nav .nav-item {
	margin-top: 1.3rem;
}

.nav .nav-item a {
	/*transition: color 0.1s !important;*/
	transition: none;
	outline: none;
	box-shadow: none;
}

.nav .nav-item a, .nav .nav-title {
  padding: .5rem;
}

.nav .nav-item a:hover {
	font-weight: 500; /*take this out if it looks bad*/
	text-decoration: none;
}

.nav ul {
	list-style: none;
}

.bottom-nav {
  margin-bottom: 1rem;
}

.feedback {
  border-radius: 15px;
  background-color: var(--accentgrey);
  padding: 1rem;
  margin: 1rem;
}