.nav {
	height: 100vh;
	background-color: var(--navcolor);
}

.nav .navbar-brand img {
	max-width: 40px;
	padding-top: 2rem;
}

.nav .nav-item {
	margin-top: 0.4rem;
}

.nav .nav-item:nth-child(2) {
	margin-top: 1rem;
}

.nav .nav-item a {
	transition: color 0.1s;
	outline: none;
	box-shadow: none;
}

.nav .nav-item a:hover {
	color: var(--theme);
	font-weight: 500; /*take this out if it looks bad*/
	text-decoration: none;
}

.nav ul {
	list-style: none;
}
