#navbar {
	color: var(--main-text);
	background-color: var(--main-bg);
	border-bottom: 2px solid var(--border);
}

#navbar .navbar-brand {
	color: var(--main-text);
	font-size: xx-large;
}

#navbar .navbar-brand img {
	max-width: 40px;
}

#navbar .nav-item:active {
	outline: none;
	box-shadow: none;
}

#navbar .nav-item a.nav-link {
	color: var(--nav-link);
	transition: color 0.25s;
}

#navbar .nav-item a.nav-link:hover {
	color: var(--yellow);
}

#navbar .nav-item.active a.nav-link {
	color: var(--gt-gold);
}
